<h1>About Me</h1>
<p>Full Stack Developer in Ruby and Python. Strong leadership and interpersonal skills. Full commitment and dedication to extend knowledge on new technologies. When not working on computer, you can usually find me playing sports, riding a mountain bike, or cruising on a motorcycle.</p>
