<div class="inner cover">
  <h1 class="cover-heading">Welcome to my site!</h1>
  <p class="lead">"Imagination is more important than knowledge. For knowledge is limited, whereas imagination embraces the entire world, stimulating progress, giving birth to evolution."
  <br>- Albert Einstein</p>
  <p class="lead">
    <!-- <a href="/about-me" class="btn btn-lg btn-secondary">Learn more</a> -->
    <!-- <a href="<#%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
